select { border-radius: 4px;}
table thead tr td { color:#fff !important; }
table tr img.small-circle { width: 18px !important;} 
.dataTables_wrapper .dataTables_filter input {
  border-radius: 2px !important;
  outline: 0;
  border: 1px solid #a8a8a8 !important;
}
table.tb-form { border: 0; }
table.tb-form { width: 100%; }
table.tb-form tr td {
  text-align: right;
  padding: 0 10px;
  border: 0;
}
table.tb-form tr td.text-a-left,
table.table-02 tr td.text-a-left {
  text-align: left;
}
span.btn-next { 
     background: url('../img20/btn-next.png') no-repeat;
     width: 67px;
     height: 47px;
     display: block;
     position: relative;
}

.form-01-1 table,
.form-01-1 table tr td { border: 0; }
.form-01-1 table tr.t-search td {
  padding: 0 0 17px 0;
}
.form-01-1 table tr.t-search td .search-input {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 5px 10px;
  width: 215px;
  display:none;
}
.form-01-1 table tr.t-search input {
  border: 0;
  outline: 0;
}
.form-01-1 table tr.t-search span {
  color: #89c458;
  font-size: 14px;
  top: 3px;
  float: right;
}
.form-01-1 table tr.t-head td:nth-child(-n+4) {
  color: #fff;
  background-color: #9a9c9e;
  border-right: 1px solid #fff;
  padding: 13px 10px;
  text-align:center;
  width:300px;
}
.table { display: table; }
.table-cell { display: table-cell; }
.v-top { vertical-align: top; }
.v-mid { vertical-align: middle; }
.v-bottom { vertical-align: bottom; }
.clear { clear: both; }

h1.logo { 
  margin: 0;
  width: 222px;
  height: 70px;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
}
h1.logo a { padding: 0; }
h1.logo a img { width: 100%; } 
.main-nav {
  height: 80px;
  float: right;
  display: table;
}
.main-nav>ul { float: none!important; }
.main-nav>ul>li.dropdown ul.dropdown-menu { 
  border: 1px solid #92c84a; 
  border-top-left-radius: 3px;
  padding: 0;
}
.main-nav>ul>li.dropdown ul.dropdown-menu li.divider { 
  background-color: #92c84a; 
  margin: 0;
}
.main-nav>ul>li.dropdown ul.dropdown-menu li a { padding: 8px 20px; }
.main-nav>ul>li.dropdown ul.dropdown-menu>li>a:focus,
.main-nav>ul>li.dropdown ul.dropdown-menu>li>a:hover { 
  background-color: #999b9e; 
  color: #fff;
}
.main-nav > ul > li > a { padding: 0; }
.table-02 thead>tr td span { 
  visibility: hidden;
  position: absolute;
  top: 24px;
  margin-left: 5px;
}
.table-02 thead>tr td:hover span { visibility: visible; }
.image {
	width: 250px;
	margin: 0 auto;
}

.form-section { padding-bottom: 20px; }
.form-section .header {
  width: 720px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
  
}
.form-section .header .title {
  float: left;
  font-size: 25px;
  vertical-align: top;
}
.form-section .header .title span {
  padding-bottom: 2px;
  display: inline-block;
  position: relative;
}
.form-section .header .title span:after,
.form-section .header .title span:before {
/*  content: "";
  position: absolute;
  top: 50%;
  height: 3px;
  width: 9999px;
  display: block;
  margin-top: -2px;
  border-top: 1px solid #333;*/
}
.form-section .header .title span:after {
/*  left: 100%;
  margin-left: 0.5em;*/
}
.form-section .header .title span:before {
/*  right: 100%;
  margin-right: 0.5em;*/
}
.form-section .btn-next {
  float: right;
  background-color: #ac3958;
  color: #fff;
  padding: 5px 15px 2px 15px;
  border-radius: 4px;
  position: relative;
  top: -6px;
  box-shadow: 0px 3px 0px 0px #92374D !important;
}
.form-section .container { /*width: 460px !important;*/ }
.form-section .step-2 .container { width: 720px !important; padding: 0;}
.form-section label.radio-btn { width: 100%; }
.form-section input { border-radius: 5px; margin-right: 5px;}
.form-section .skip {
  font-size: 14px;
  text-decoration: underline;
  color: #888;
  text-align: center;
  position: relative;
  left: 33px;
  top: 7px;
}
.form-section .name> input{
    width: auto;
}

.form-section .btn-add { 
  margin: 10px 0;
  position: relative;
  top: -12px;
  left: 10px;
}

.form-area-1 {
/*	width: 820px;*/
	margin-bottom: 20px;
}

.form-area-2 {
  background-color: #F1F1F1;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  color: #878787;
  padding: 10px;
  margin: 20px auto;
  width: 600px;
}

.form-area-2 #uploader { margin-right: 5px; }
.form-area-2 h3 {
  margin: 5px 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.form-area-2 h3 a {
  font-size: 13px;
  color: #86c556;
  text-decoration: underline;
}
.form-area-2 label {
	color: #878787;
}
.form-area-2 button.submit {
	background-color: #86C556;
    border: 1px solid #ECECEC;
    color: #fff;
    padding: 3px 22px;
    border-radius: 5px;
    margin-top: 10px !important;
}
.warning {
  background-color: #888888;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  margin: 0px auto;
  width: 445px;
}
.form-section .warning i.icon {
  background: url(../img20/icon-warning.png) center center no-repeat;
  width: 31px;
  height: 50px;
  display: block;
  float: left;
  margin-right: 14px;
}
.glyphicon-info-sign {
	color: #86C556;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 15px;
}

.form-area-2 input {
	margin-right: 10px !important;
}

.circle i {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.circle a i span {
	display: none;
}
.circle i.green { background-color:#86C556; }
.circle i.amber { background-color:#e7b422; }
.circle i.grey { background-color:#a3a3a3; }
/*.circle i.red { background-color:#FF0000; }*/
.circle i.red { background-color:#AB3958; }
.circle i.black { background-color:#000; }

.circle a i.active { background: transparent; }
.circle a i.active span { 
    display: block;
    font-size: 16px;
    position: relative;
    top: 0.2px;
    left: -1px;
}

.circle a i.green.active span { color:#86C556; }
.circle a i.amber.active span { color: #e7b422; }
.circle a i.grey.active span { color:#a3a3a3; }
/*.circle a i.red.active span { color:#FF0000; }*/
.circle a i.red.active span { color:#AB3958; }
.circle a i.black.active span { color:#000; }

.gray_overlay { 
    position: fixed;
    background-color: #e8e8eA;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.5;
    display: none;
	margin-top:90px;
	border-left:10px solid #fff;
	border-right:10px solid #fff;
}
.gray_header_overlay { 
    position: fixed;
    background-color: transparent;
    height: 80%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.9;
    display: none;
}
.overlay {
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.9;
    display: none;
}
.modal-confirm {
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    z-index: 999;
    display: none;
}
.modal-confirm-left {
    position: absolute;
    top: 24%;
    /*left: 38%;*/
  left: 50%;
  margin-left: -238px;
    text-align: justify;
    z-index: 999;
    display: none;
    background-color: #fff;
  padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    border: 5px solid #8CC540;
}
.modal-confirm-left .action .btn-yes {
    padding: 5px 35px;
    background-color: #9E3451;
    color: #fff;
    margin-right: 5px;
}

.modal-batch-upload {
    position: absolute;
    top: 32%;
    /*left: 38%;*/
    left: 50%;
    margin-left: -290px;
    text-align: justify;
    z-index: 999;
    display: none;
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    border: 6px solid #8CC540;
    color:#515254;
}
.modal-batch-upload .action .btn-yes {
    background-color: #9E3451;
    color: #fff;
    margin-right: 5px;
}

.modal-confirm .action a.btn {
    padding: 3px 15px;
}
.modal-confirm .message {
    font-size: 20px;
}
.modal-confirm .action .btn-yes {
    background-color: #9E3451;
    color: #fff;
    margin-right: 5px;
}
@media (min-width: 1200px) {
    .form-section .container { width: 750px; }
}
@media screen and (max-width: 767px) {
  .image, .form-area-1, .form-area-2, .form-section .warning { width: 100%; }
  .form-section .container { width: auto !important; }
  .form-section .header { width: auto; padding: 0 15px;}
  .form-section .step-2 .container {
    padding: 0 15px;
  }
}

ul.bottom-menu {
  padding: 0;
  margin: 20px 0;
  float: right;
  border: 1px solid #d2d2d2;
  background-color: #f1f1f1;
  border-radius: 5px;
}

ul.bottom-menu li {
  list-style: none;
  display: inline-block;
}
ul.bottom-menu li a { display: block;}
ul.bottom-menu li a img { height: 40px; }

.pageboxc, .pageboxaltc {
    border: 1px solid #e9e9e9;
    padding: 1px 5px 1px 5px;
	background-color: #e0e0e0;
}
.pagebox, .pageboxalt {
    border: 1px solid #e9e9e9;
    padding: 1px 5px 1px 5px;
}
.pagebox:hover, .pageboxalt:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}
 

.animated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}

/*PULSE ANIMATION*/
.pulse2 {
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }