body{
  font-family: 'Rubik', sans-serif;
}

/**
*** HEADER
**/

.header-upper{
  height:85px;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav > li, .navbar-nav {
  float: left !important;
}

.navbar-nav .navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float:right !important;
  margin: 0 !important;
}
.header-lower {
  background-color: #fff;
  border-bottom: 4px double #A7A7A7;
 /* padding-bottom: 10px;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar-brand img{
  height:73px;
}
.nav > li > a > img{
  height:40px;
}
.nav > li > a:hover, .nav > li > a:focus{
  text-decoration:none;
  background:none;
}

/**
*** INTERNAL PAGES
**/
.map-bg{
  position:static;
  margin-top:20px;
  z-index:-99999 !important;
  background:#e8e8ea;
  padding-bottom:30px;
}
.int-row-1 {
  padding-top: 90px;
  padding-bottom: 50px;
}
.int-row-1 h1{
  color:#ac405a;
  font-size:47px;
  font-weight:normal;
  text-transform:uppercase;
}
.steps-container{
  display:inline-block;
  min-height:100px;
  margin-bottom:30px;
}
.step-dot{
  width:100px;
  float:left;
}
.step-dot p{
  color:#333;
  font-size:11px;
  font-style:italic;
  margin-top:10px;
}
.step-dot-0{
  width:29px;
  margin:8px;
}
.step-dot-1{
  width:45px;
}
.step-line{
  width:100px;
  height:45px;
  background:url(../img20/icon-steps-line.png);
  background-size:90px 6px;
  background-position:center;
  background-repeat:no-repeat;
  float:left;
  margin-left:-30px;
  margin-right:-30px;
}

/**
*** FORM ELEMENTS
**/
label{
  font-weight:normal;
}
.form-01 label, .form-01 p{
  font-weight:normal;
  font-size:16px;
  color:#333;
  margin-top:5px;
}
.form-01 select{
  height:35px;
  border:solid 1px #999;
  width:100%;
  margin-bottom:10px;
  padding:5px;
}
.form-01 input[type='text']{
  height:35px;
  border:solid 1px #999;
  width:100%;
  margin-bottom:10px;
  padding:5px 10px;
}
.btn-submit{
  color: #86c556;
  border: none;
  background-color: transparent;
  font-size: 60px;
  outline: none;
}
.btn-submit span i {
  position: absolute;
  left: 10px;
  top: 17px;
  font-size: 11px;
  z-index: 99;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}
.btn-submit:active{
  position:relative;
  top:3px;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.btn-remove{
  font-style:italic;
  background:none;
  border:none;
  margin-top:7px;
  margin-bottom:7px;
  position:relative;
  /*right:25px;*/
}
.btn-remove:hover{
  color:#ac405a;
}
.btn-add{
  width:40px;
  margin:10px 0 -20px;
}
.btn-backtohome{
  width:43px;
}
.btn-report{
  width:50px;
  margin-bottom:10px;
}
.dd3 .icon-info{
  position:relative;
  top:-1px;
}

.radio-section{
  padding-top:20px;
  padding-bottom:20px;
}
.radio-section label{
  margin-right:20px;
}

input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.search-results{
  display:inline-block;
  text-align:left;
}

.results-group{
  display:inline-block;
}
.results-group td{
  padding:5px 15px;
}
.results-group select{
  height:35px;
  border:solid 1px #999;
  margin-bottom:10px;
  padding:5px;
}

.text-bold{
  font-weight:bold;
}

.form-02 input[type='text']{
  padding-left:10px;
  padding-right:10px;
  width:100%;
  border:0;
}

.form-02 textarea{
  padding-left:10px;
  padding-right:10px;
  width:100%;
  height:5em;
  border:0;
}

.form-03 select{
  height:22px;
}
.form-03 input[type='text']{
  height:22px;
}
.form-03 input[type='checkbox']{
  margin-right:10px;
  position:relative;
  top:2px;
}
.form-03 .button-area{
  margin-top:30px;
  margin-bottom:30px;
}
.form-03 .button-area button{
  font-size:14px;
  font-weight:bold;
  color:#fff;
  background:#86c556;
  border:none;
  padding:8px 25px;
  min-width:130px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
  -moz-box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
  box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
  margin-left:20px;
  position:relative;
  top:-5px;
  margin-bottom:20px;
}
.form-03 .button-area .escalate{
  background:#AC405A;
  -webkit-box-shadow:0px 3px 0px 0px rgba(146,55,77,1);
  -moz-box-shadow:0px 3px 0px 0px rgba(146,55,77,1);
  box-shadow:0px 3px 0px 0px rgba(146,55,77,1);
}
.form-03 .greyed{
  color:#666 !important;
}
.form-03 .indent{
  padding-left:60px;
}
.greyed select{
  color:#999;
}

/**
*** CSV UPLOADER
**/
.csv-uploader{
  background:#fff;
  padding:30px 0;
  margin-top:30px;
}
.csv-uploader .btn-submit{
  margin-top:10px !important;
}

.csv-uploader input[type='checkbox']{
  margin-right:10px;
}
.icon-info{
  position:relative;
  top:-3px;
  margin-right:10px;
}

/**
*** HOME
**/
.home-row-1{
  padding:70px 0;
}
.home-row-1 h1{
  font-size:25px;
  color:#ac405a;
  text-transform:uppercase;
}
.home-row-1 p{
  font-size:17px;
  color:#333;
  margin-bottom:60px;
}
.home-icon{
  width:120px;
}
.home-section-link div{
  padding-top:40px;
}
.home-section-link:hover > div{
  background:rgba(172,64,90,.2);
}

/**
*** DUE DILIGENCE
**/
.edd-row-1{
  min-height:500px;
}
.edd-row-1 .btn-skip{
  margin-bottom:10px;
  background: #cecece !important;
  box-shadow: 0px 3px 0px 0px #aaa;
  margin-right: 10px;
}
.edd-row-1 .btn-skip:active{
  position:relative;
  top:3px;
  -webkit-box-shadow:none !important;
  -moz-box-shadow:none !important;
  box-shadow:none !important;
}
@media (min-width:992px){
  .edd-row-1 .btn-skip{
    /*margin-top:135px;*/
  }
}
@media (min-width:1200px){
  .edd-row-1 .btn-skip{
    /*margin-top:115px;*/
  }
}

.edd2-row-1{
  min-height:500px;
}
.edd2-row-1 .btn-submit{
  margin-top:20px;
}

.edd3-row-1{
  min-height:400px;
}
.edd3-row-1 p{
  font-size:18px;
}
.edd3-row-1 .btn-submit{
  margin-top:20px;
}
.edd3-row-2{
  padding:40px 0;
}

.edd4-row-1{
  min-height:500px;
}
.edd4-row-1 p{
  font-size:22px;
}
.dd4-label{
  font-size:20px;
}


/**
*** THIRD PARTIES
**/

.tp-row-1{
  min-height:600px;
}
.tp-row-1 h1{
  margin-bottom:30px;
}

.tp-row-1 td{
  padding:5px 15px;
}
.btn-tp-edit, .btn-tp-review{
  margin-bottom:20px;
  color:#fff;
  background:#86c556;
  border:none;
  padding:8px 25px;
  min-width:130px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
  -moz-box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
  box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
}
.tp-row-1 .pie-graph img{
  width:100%;
}

.tp2-options{
  line-height:3em;
}
.tp2-options button{
  line-height:1em;
}

.tp-table-container{
  background:#fff;
  margin-top:30px;
  padding-top:30px;
  margin-left:15px;
  margin-right:15px;
}

.tp-table-menu img{
  max-width:100%;
  position:relative;
  right:30px;
  margin-bottom:15px;
  cursor:pointer;
}
.tp2-pie-options{
  padding-top:30px;
}
.tp2-pie-options img{
  max-width:100%;
  position:relative;
  right:30px;
  margin-bottom:15px;
  cursor:pointer;
}
.tp-table-container table{
  width:100%;
}
.tp-iframe{
  border:0;
}
.tp2-pie{
  background:#fff;
  left:15px;
}
.table-01 {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #e5e5e5;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.table-01 table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.table-01 tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.table-01 table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.table-01 table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.table-01 tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.table-01 tr:hover td{
  background-color:#ffffff;
    

}
.table-01 td{
  vertical-align:middle;
  
  background-color:#ffffff;

  border:1px solid #e5e5e5;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:14px;
  font-weight:normal;
  color:#000000; 
}.table-01 tr:last-child td{
  border-width:0px 1px 0px 0px;
}.table-01 tr td:last-child{
  border-width:0px 0px 1px 0px;
}.table-01 tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.table-01 tr:first-child td{
    background:-o-linear-gradient(bottom, #ac405a 5%, #ac405a 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ac405a), color-stop(1, #ac405a) );
  background:-moz-linear-gradient( center top, #ac405a 5%, #ac405a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ac405a", endColorstr="#ac405a");  background: -o-linear-gradient(top,#ac405a,ac405a);

  background-color:#ac405a;
  border:0px solid #e5e5e5;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-weight:bold;
  color:#ffffff;
}
.table-01 tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #ac405a 5%, #ac405a 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ac405a), color-stop(1, #ac405a) );
  background:-moz-linear-gradient( center top, #ac405a 5%, #ac405a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ac405a", endColorstr="#ac405a");  background: -o-linear-gradient(top,#ac405a,ac405a);

  background-color:#ac405a;
}
.table-01 tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.table-01 tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

/*table2*/

.table-02 {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #e5e5e5;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.table-02 table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.table-02 tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.table-02 table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.table-02 table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.table-02 tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.table-02 tr:hover td{
  background-color:#ffffff;
    

}
.table-02 td{
  vertical-align:middle;
  
  background-color:#ffffff;

  border:1px solid #e5e5e5;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:14px;
  font-weight:normal;
  color:#000000; 
}.table-02 tr:last-child td{
  border-width:0px 1px 0px 0px;
}.table-02 tr td:last-child{
  border-width:0px 0px 1px 0px;
}.table-02 tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.table-02 thead:first-child td{
  background-color:#9a9c9e;
  border:0px solid #e5e5e5;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-weight:bold;
  color:#333;
}
.table-02 head:first-child:hover td{
  background:-o-linear-gradient(bottom, #ac405a 5%, #ac405a 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ac405a), color-stop(1, #ac405a) );
  background:-moz-linear-gradient( center top, #ac405a 5%, #ac405a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ac405a", endColorstr="#ac405a");  background: -o-linear-gradient(top,#ac405a,ac405a);

  background-color:#ac405a;
}
.table-02 tr:first-child td:first-child{
  /*border-width:0px 0px 1px 0px;*/
}
.table-02 tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

/*table2end*/

.tp-company-name img{
  margin-right:20px;
}
.tp-company-name button{
  font-size:14px;
  font-weight:normal;
  color:#fff;
  background:#86c556;
  border:none;
  padding:8px 25px;
  min-width:130px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
  -moz-box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
  box-shadow:0px 3px 0px 0px rgba(123,153,103,1);
  margin-left:20px;
  position:relative;
  top:-5px;
}

.tp-riskhistory{
  background:#999;
  height:300px;
  padding-top:120px;
  margin-bottom:60px;
}

.tp-bottom-group{
  height:300px;
  background:#fff;
  margin-top:30px;
  padding:15px;
}

.tp-form-table{
  width:100%;
}
.tp-btn-back img{
  height:15px;
  margin-right:10px;
  color:#89c458;
}
.tp-btn-back a{
  color:#89c458 !important;
}
.tp-risklevel-form{
  border:solid 2px #666;
  padding-left:20px;
  padding-right:20px;
}
.tp-save-changes{
  padding-top:40px;
  padding-bottom:30px;
}

.img-plus {
  width:18px;
  position:relative;
  bottom:3px;
  margin-right:10px;
  cursor: pointer;
}

.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}


/*Animation*/
.pulse2 {
  -webkit-animation: pulse2 1s linear infinite;
  -moz-animation: pulse2 1s linear infinite;
  -ms-animation: pulse2 1s linear infinite;
  animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
